@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-caveat: 'Caveat', cursive;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

:root {
  --font-caveat: 'Caveat', cursive;
}

.font-caveat {
  font-family: var(--font-caveat);
}





html {
  scroll-behavior: smooth;
} 

